@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --btn-primary: rgb(25, 25, 25);
    --blue-primary:rgb(0, 89, 255);
    --blue-hover: rgb(1, 78, 221);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;

}

.archivo-<uniquifier> {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}



.left {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    background-image: url(img/backdrop.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    box-sizing: border-box; 
}

.container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}
img {
    display: block;
    height: 70%;
    margin: 0;

}

#logo-title {
    color: white;
    font-size: 3rem;
    margin: 0;

}

.right {
    background-color: rgb(249, 249, 249);
    width: 60%;
    box-sizing: border-box;
    
    padding-top: 3rem;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-left: 6rem;
}

h1 {
    font-size: 1.3rem;
    width: 75%;
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(94, 94, 94, 0.068);
    padding: 3rem;
    padding-left: 6rem;

}

#form-header {
    margin-bottom: 2rem;
    margin-top: 0;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 1rem;

}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

label
{
    font-size: 0.8rem;
    color: var(--btn-primary);
}

input {
    border: 1.5px solid rgb(173, 173, 173);

    height: 25px;
    width: 250px;
    
}

input:focus {
    border-color: var(--blue-primary);
    outline: 0;
    box-shadow: 0 1 5px rgba(0, 0, 0, 0.141);
}

input:not(:placeholder-shown):invalid {
    border-color: rgb(255, 0, 0);
    outline: 0;
    box-shadow: 0 1 5px rgba(0, 0, 0, 0.141);
}

input::placeholder {
    color: rgb(204, 204, 204);
}

.buttons {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 2rem;
    padding-left: 6rem;
}

button {
    padding: 0.6rem 1.2rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    appearance: none;
    border-radius: 0.6rem;
    border: none;
    background-color: var(--btn-primary);
    box-shadow: 0 1 10px rgba(0, 0, 0, 0.2);;
    color: white;
    transition: background-color 0.1s ease;
    border: 2px solid;
    font-family: "Archivo", sans-serif;

}

button:hover {
    background-color: white;
    border: 2px solid;
    border-color: var(--btn-primary);
    color: var(--btn-primary);
}

.login-label {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--blue-primary);
}

a:hover {
    color: var(--blue-hover);
    text-decoration: underline;
}